<h2>Pakete installieren</h2>

<p>Folgende Pakete werden auf deinem System installiert, wenn du auf das Symbol rechts unten auf der Seite klickst.</p>

<% apt_url = "" %>

<div class="inner1">

    <table width="100%" cellspacing="0">
    <tr>
        <th align="left" class="packageList">Packages</th>
    </tr>
    <% @package_install.each do |package| %>
    
        <% apt_url += "," if not apt_url == "" %>
        <% apt_url += package.name %>
    
        <% css=cycle("packageList0", "packageList1") %>
        <tr>
        <td class="<%= css %>"><%= link_to package.name, distribution_package_path(package.distribution, package) %></td>
        </tr>
    <% end %>
    </table>
</div>

<div style="padding-top:12px;padding-right:8px" align="right">
    <a href=apt://<%= apt_url %>><img src="/images/apt.png"></a>
</div>
