<div class="secondnavi">
        <%= link_to t(:view_users__sidebar_6), "/categories" %> |
        <%= link_to t(:view_users__sidebar_5), "/users" %> |
        <%= link_to t(:view_users__sidebar_4), "/distributions" %> |
        <%= link_to t(:health_status), "/metapackages/health_status" %>
</div>
