<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<% if editing_metapackage? %>
    <% cart = Cart.find(session[:cart]) %>
	<% name = cart.name %>
<% c = 0 %>
<% cart.base_packages.each do |package|%>
<% c = c + 1 %>
<% end %> 
<div class="communtu_box">
        <div class="communtu_box_line">
        Dein Bündel
        </div>
       <div class="communtu_box_inside">
                <a href="/packages" title="Zum Bündeleditor">Anzahl der Pakete in Deinem Bündel: <b><%= c %></b></a>
        </div>
</div>
<% div_helper = 1 %>
<% end %>


