<h3>Bündel aus einer Paketliste erstellen</h3>

Hier kannst du ein Bündel aus einer vorhandenen Paketliste erstellen. 
Die Liste muss in Form einter Textdatei vorliegen (plain text), 
mit einem Paketnamen pro Zeile.<br>

Die Liste der auf deinem Computer installierten Pakete kannst du zum Beispiel mit
<pre>
deborphan -a | awk '{print $2}' > packages.list 
</pre>
herausfinden. (Dazu muss das Paket <%= package_link("deborphan")%> installiert sein. Die erzeugte Liste enthält nur eine minimale Liste von (Meta-)Paketen, die notwendig ist, um deine
Installation komplett wiederherzustellen.) 

<%= form_tag({:controller => :cart, :id => :current_user.id, :action => :create_from_list}, :multipart => true)%>
<p>Datei, die die Paketliste enthält, ausw&auml;hlen:</p>
<p><%= file_field(:datei, :attachment) %></p>
<p><%= submit_tag('Erstellen') %></p>
</form>
