<h1>Repositories</h1>

<table>
  <tr>
  </tr>

<% for repository in @repositories %>
  <tr>
    <td><%= link_to 'Anzeigne', repository %></td>
    <td><%= link_to 'Bearbeiten', edit_repository_path(repository) %></td>
    <td><%= link_to 'Löschen', repository, :confirm => 'Bist du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Repository', new_repository_path %>
