<ul class="sidebar">
	<li><%= link_to 'Distributions', distributions_path %></li>
	<li><%= link_to 'Categories', admin_categories_path %></li>
<li><%= link_to 'Users', admin_users_path %></li>
</ul>	

