<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<% @convert = %w[one two three four five] %>
<ul class="star-rating">
	<% unless metapackage.rated_by_user?(current_user) %>
    <li class="current-rating" style="width:<%= metapackage.rating*25 %>px">
      <% 1.upto(5) do |x| -%>
		<%= link_to_function "Toggle", update_page { |page| page.visual_effect(:toggle_appear, ("comment_" + metapackage.id.to_s),:duration => 1);page.assign("ajax_rating",x);page.hide("stars-#{metapackage.id}-1","stars-#{metapackage.id}-2","stars-#{metapackage.id}-3","stars-#{metapackage.id}-4","stars-#{metapackage.id}-5");page.insert_html(:after, "stars-#{metapackage.id}-5","<li class='current-rating-rated' id='current-rating-rated-#{metapackage.id}' style='width:#{25*x}px'></li>")},  {:class => "#{@convert[x-1]}-stars", :id =>"stars-#{metapackage.id}-#{x}" , :title => "#{x} #{t(:view_rating_rating_rate)}"}%>
      <%end -%>
  <% end %>
  </li>
</ul>