<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<% @convert = %w[one two three four five] %>
<ul class="star-rating" title="<%= metapackage.ratings.size == 0 ? t(:view_rating_show_title_no_ratings) : "#{number_with_precision(metapackage.rating, 2)} #{t(:view_rating_show_title_got_ratings)} #{t(:view_rating_show_title_ratings_count, {:votes=>metapackage.ratings.count})}" %>">
    <li class="current-rating" style="width:<%=  metapackage.rating*25 %>px"></li>
</ul>