<% path = DownloadController::PATHS[session[:path]] %>
<% for i in 0..path.size-1 %>
  <% if path[i][:action] == params[:action] and i>0 %>
      <div class="path_back">
      <% j = if @back2 and !path[i-2].nil? then i-2 else i-1 end %>	
      <%= form_tag(path[j][:action], :method => 'get')%>	
      <%= submit_tag(t(:back)) %>
	  </form>
	  </div>
  <% end %>
<% end %>	