<% #  (c) 2008-2011 byllgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<%cds=current_user.livecds.sort {|a, b| b.created_at <=> a.created_at} %>

<% if !cds.empty? %>
  <p><%=t(:livecd_previous_cds)%><br />
  <table "cellpadding=5">
  <% total = 0 %>
  <% for cd in cds %>
      <%= render :partial => 'download/livecd', :object => cd %>
      <% if cd.generated and !cd.size.nil? %>
        <% total += cd.size %>
      <% end %>
  <% end %>
    <tr><td></td>
        <td align="right"><%=t(:total_isos_size)%></td>
        <td><%= number_to_human_size(total) %></td></tr>
  </table>
<% end %>