<div class="path">
<ol>
<% current = 1000
   path = paths(session[:path])%>
<% for i in 0..path.length-1 
   node=path[i]%>
   <li> 
   <% if params[:action] == node[:action].split("/")[-1]
      current = i%>
      <i>
   <% end %>	
   <% if i-1 > current && current_user.profile_changed  %>
      <%= node[:name]%> 
   <% else %>
      <%= link_to(node[:name],node[:action])%>
   <% end %>
   <% if params[:action] == node[:action].split("/")[-1] %>
      </i>
   <% end %>
   </li>	
<% end %>
</ol>
</div>

<%= render :partial => "back"  %>
<%= render :partial => "continue"  %>
