<div class="path">
<ol>
<% current = 1000
   path = paths(session[:path])%>
<% if !path.nil? %>   
<% for i in 0..path.length-1 
   node=path[i]%>
   <li> 
   <% if params[:action] == node[:action].split("/")[-1]
      current = i%>
      <i>
   <% end %>	
   <% if i-1 > current && profile_changed? && !["install_bundle","install_package"].include?(session[:path])  %>
      <%= node[:name]%> 
   <% else %>
      <%= link_to(node[:name],node[:action])%>
   <% end %>
   <% if params[:action] == node[:action].split("/")[-1] %>
      </i>
   <% end %>
   </li>	
<% end %>
<% end %>
</ol>
</div>

<%= render :partial => "download/back"  %>
<%= render :partial => "download/continue"  %>
