/*the old formats*/
div.inner0 {
	padding: 5px;
	margin: 5px;
	height: 100%;
}

div.inner1 {
	border-style: solid;
	border-width: 1px;
	border-color: #ac873f;
	padding: 5px 5px 5px 12px;
	margin: 10px 5px 10px 5px;
	background-color: #FFF8D2;
	height: 100%;
}

div.meta_cart{

	margin: 15px 10px 0 0;
	padding: 10px 5px 10px 8px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	-moz-border-radius: 10px;
	width: 250px;
}

span.headline{
	font-size: larger;
	font-weight: bold;
}

table.form_table{

	padding: 10px 10px 10px 10px;

}

img.link_img{
	border: 0px;
}

ul.sidebar {

    list-style-type: none;
	padding: 0px 5px 5px 5px;
}

div.flash{

	border-style: dotted;
	border-width: 1px;
	border-color: #E2C890;
	background: #FFF8D2;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

#notice{
	color: green;
}

#warning{
	color: #FD6C00;
}

#error{
	color: red;
}
div.inner0 {
	padding: 5px;
	margin: 5px;
	height: 100%;
}

div.inner1 {
	border-style: solid;
	border-width: 1px;
	border-color: #ac873f;
	padding: 5px 5px 5px 12px;
	margin: 10px 5px 10px 5px;
	background-color: #FFF8D2;
	height: 100%;
}

div.meta_cart{

	margin: 15px 10px 0 0;
	padding: 10px 5px 10px 8px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	-moz-border-radius: 10px;
	/*min-height: 300px;*/
	width: 150px;
}

span.headline{
	font-size: larger;
	font-weight: bold;
}

table.form_table{

	padding: 10px 10px 10px 10px;

}

img.link_img{
	border: 0px;
}

ul.sidebar {

    list-style-type: none;
	padding: 0px 5px 5px 5px;
}

div.flash{

	border-style: dotted;
	border-width: 1px;
	border-color: #E2C890;
	background: #FFF8D2;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

#notice{
	color: green;
}

#warning{
	color: #FD6C00;
}

#error{
	color: red;
}

div.inner0 {
	padding: 5px;
	margin: 5px;
	height: 100%;
}

div.inner1 {
	border-style: solid;
	border-width: 1px;
	border-color: #ac873f;
	padding: 5px 5px 5px 12px;
	margin: 10px 5px 10px 5px;
	background-color: #FFF8D2;
	height: 100%;
}

div.meta_cart{

	margin: 15px 10px 0 0;
	padding: 10px 5px 10px 8px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	-moz-border-radius: 10px;
	/*min-height: 300px;*/
	width: 250px;
}

span.headline{
	font-size: larger;
	font-weight: bold;
}

table.form_table{

	padding: 10px 10px 10px 10px;

}

img.link_img{
	border: 0px;
}

ul.sidebar {

    list-style-type: none;
	padding: 0px 5px 5px 5px;
}

div.flash{

	border-style: dotted;
	border-width: 1px;
	border-color: #E2C890;
	background: #FFF8D2;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

#notice{
	color: green;
}

#warning{
	color: #FD6C00;
}

#error{
	color: red;
}

div.inner0 {
	padding: 5px;
	margin: 5px;
	height: 100%;
}

div.inner1 {
	border-style: solid;
	border-width: 1px;
	border-color: #ac873f;
	padding: 5px 5px 5px 12px;
	margin: 10px 5px 10px 5px;
	background-color: #FFF8D2;
	height: 100%;
}

div.meta_cart{

	margin: 15px 10px 20px 20px;
	padding: 10px 5px 10px 8px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	-moz-border-radius: 10px;
	/*min-height: 300px;*/
	width: 350px;
}

span.headline{
	font-size: larger;
	font-weight: bold;
}

table.form_table{

	padding: 10px 10px 10px 10px;

}

img.link_img{
	border: 0px;
}

ul.sidebar {

    list-style-type: none;
	padding: 0px 5px 5px 5px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
/*	word-wrap: break-word;
	word-break: break-all; */
}

h2, h1 {
  font-family: verdana, arial, helvetica, sans-serif;
 /* font-size:   13px; */
  line-height: 22px;
 /*	word-wrap: break-word;
	word-break: break-all; */
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #ff6309; text-decoration:underline; }
a:visited { color: #ff6309; }
/*a:hover { color: #ff6309; background-color:#cbcbcb; text-decoration:underline;}*/
/*#D3CAAA;*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

table.profileTable {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #ac873f;
}

th.profileTableHeading {
    padding-left: 5px;
    border-color: #ac873f;
	border-right-style: solid;
	border-right-width: 1px;
	background-image: url(/images/table-head.png);
	background-repeat: repeat-x;
}

th.profileTableHeadingRight {
    border-color: #ac873f;
	background-image: url(/images/table-head.png);
	background-repeat: repeat-x;
}

td.profileExpandColFirst {
    border-color: #ac873f;
    border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 15px;
	background: #fff7cd;
}

td.profileExpandCol {
    border-color: #ac873f;
	width: 15px;
	background: #fff7cd;
}

td.profileNameCol0 {
    padding: 10px 10px 10px 10px;
    border-color: #ac873f;
	border-top-style: solid;
	border-top-width: 1px;
}

td.profileNameCol1 {
    padding-left: 20px;
    border-color: #ac873f;
    background: #fff7cd;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	font-size: 82%;
}

td.profileNameCol2 {
    padding-left: 30px;
    border-color: #ac873f;
    background: #fff7cd;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	font-size: 75%;
}

td.profileNameCol3 {
    padding-left: 40px;
    border-color: #ac873f;
    background: #fff7cd;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	font-size: 68%;
}
td.profileRatingRowFirst {
    border-color: #ac873f;
	border-top-style: solid;
	border-top-width: 1px;
	width: 20px;
}

td.profileRatingCol {
    border-color: #ac873f;
	border-top-style: solid;
	border-top-width: 1px;
	width: 20px;
}

td.profileRatingColRight {
    border-color: #ac873f;
    border-top-style: solid;
    border-top-width: 1px;
    width: 20px;
}

div.suggestion {
    margin: 10px 10px 0 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ac873f;
}

ul.suggestionHeader {
    margin:5px;
    padding:5px;
}

ul.suggestionPackage {
    margin:0px;
    padding:0px;
}

div.suggestionHeader {
    padding: 2px 0 2px 5px;
    background: #fff7cd;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ac873f;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ac873f;
}

li.suggestionCollapse {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    background: #fff7cd;
}

li.suggestionHeader {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    background: #fff7cd;
    font-weight: bold;
    font-size:80%;
    padding-left:10px;
    margin-left:2px;
}

li.suggestionPackage {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    background: #ffffff;
    margin-left:2px;
}

div.suggestionPackage {
    padding:8px 0 0 15px;
    background: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ac873f;
}

div.suggestionDescription {
    padding:0 0 8px 5px;
    background: #ffffff;
    padding-right:20px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
}

div.suggestionPackages {
    background: #fff7cd;
    padding-left:20px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ac873f;
}

th.packageList {
    padding-bottom:5px;
    padding-left:10px;
    border-bottom-style:solid;
    border-bottom-width:1px;
}

td.packageList0 {
    padding:5px 8px 5px 10px;
    background-color: #FFF8D2;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
}

td.packageList1 {
    padding:5px 8px 5px 10px;
    background-color: #FFFFFF;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
}

td.packageList0conflict {
    padding:5px 8px 5px 10px;
    background-color: #ffa0a8;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
}

td.packageList1conflict {
    padding:5px 8px 5px 10px;
    background-color: #ffa8a8;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
}


td.packageList0noborder {
    padding:5px 8px 5px 10px;
    background-color: #FFF8D2;
/*    border-bottom-style:solid;
    border-bottom-width:1px;*/
    border-color: #ac873f;
}

td.packageList1noborder {
    padding:5px 8px 5px 10px;
    background-color: #FFFFFF;
/*    border-bottom-style:solid;
    border-bottom-width:1px;*/
    border-color: #ac873f;
}

td.packageList0conflictnoborder {
    padding:5px 8px 5px 10px;
    background-color: #ffa0a8;
    border-color: #ac873f;
}

td.packageList1conflictnoborder {
    padding:5px 8px 5px 10px;
    background-color: #ffa8a8;
    border-color: #ac873f;
}

td.packageListGrey {
    padding:5px 8px 5px 10px;
    background-color: #DDDDDD;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
	color: #EEEEEE;
/*a { color: #888888; text-decoration:none; } */
}

td.packageListGreynoborder {
    padding:5px 8px 5px 10px;
    background-color: #DDDDDD;
/*    border-bottom-style:solid;
    border-bottom-width:1px;*/
    border-color: #ac873f;
	color: #AAAAAA;
/*a { color: #888888; text-decoration:none; } */
}


ul.tabz {
    margin:0px;
    padding:0px;
    visibility:hidden;
}
div.tabz {
    left:0px;
}

li.tabz {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    margin: 0px 2px 0px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

li.tabz_select {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #ac873f;
}

div.tabz_content {

    border-style: solid;
    border-width: 1px;
    margin-top: 2px;
    margin-bottom: 60px;
    padding: 10px;
    border-color: #ac873f;
    height: 100%;
}

div.cartlist {

    position:relative;
    left:180px;
    top:-14px;
    height:0px;
    width:60px;
}

ul.cartlist {

    margin:0 0 0px 0;
    padding:0px;
}

li.cartlist {

    list-style-type: none;
}

 .rating_comment_field {
 	width: 750px;
	height: 100px;
	margin-bottom: 10px;
 }


	.check_img {
		height:			15px;
		width:			15px;
		margin-left: 	5px;
	}

    /*             styles for the star rater
     * Credits: http://www.komodomedia.com/blog/2006/01/css-star-rating-part-deux/# (last visit: June 5th, 2009)
     * */
	.star-rating-foreign{
        margin: 0px;
        padding:0px;
        width: 125px;
        height: 30px;
        background: url(/images/star2.gif) top left repeat-x;
    }

	.star-ratings-block {
		width: 125px;
		float: left;
	}

    .star-rating{
        list-style:none;
        margin: 0px;
        padding:0px;
        width: 125px;
        height: 25px;
        position: relative;
        background: url(/images/star_trans.gif) top left repeat-x;
    }

    .star-rating li{
        padding:0px;
        margin:0px;
        /*\*/
        float: left;
        /* */
    }
    .star-rating li a{
        display:block;
        width:30px;
        height: 25px;
        text-decoration: none;
        text-indent: -9000px;
        z-index: 20;
        position: absolute;
        padding: 0px;
    }
    .star-rating li a:hover{
        background: url(/images/star_trans.gif) left center;
        z-index: 2;
        left: 0px;
        border:none;
    }
    .star-rating a.one-star{
        left: 0px;
    }
    .star-rating a.one-star:hover{
        width:25px;
    }
    .star-rating a.two-stars{
        left:25px;
    }
    .star-rating a.two-stars:hover{
        width: 50px;
    }
    .star-rating a.three-stars{
        left: 50px;
    }
    .star-rating a.three-stars:hover{
        width: 75px;
    }
    .star-rating a.four-stars{
        left: 75px;
    }
    .star-rating a.four-stars:hover{
        width: 100px;
    }
    .star-rating a.five-stars{
        left: 100px;
    }
    .star-rating a.five-stars:hover{
        width: 125px;
    }
    .star-rating li.current-rating{
        background: url(/images/star_trans.gif) left bottom;
        position: absolute;
        height: 25px;
        display: block;
        text-indent: -9000px;
        z-index: 1;
    }

	.star-rating li.current-rating-rated {
	  position: absolute;
	  background: url(/images/stars-rated.gif) repeat-x left bottom;
	  height: 25px;
	  display: block;
	  text-indent: -9000px;
	  z-index: 1;
	}


/* allgemeine Formate */
.bold{font-weight:bold;}
a:link, a:visited, a:active{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;  
	color: #000;
	text-decoration: underline;
	font-weight: normal;
	}
a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;  
	color: #000;
	text-decoration: none;
	font-weight: normal;
	}
ul li{
	list-style-image:url(/images/liste-pfeil.gif);
	list-style-position:outside;
	margin-left:-0.8em;
	padding-left:0.3em;
	padding-bottom:0.8em;
	}
ol{
	font-weight:bold;
	}
ol li{
	font-weight:normal;
	margin-bottom:1em;
	}
h2, h1, h3 {
  font-family: verdana, arial, helvetica, sans-serif;
 /* font-size:   13px; */
  line-height: 22px;
/*	word-wrap: break-word;
	word-break: break-all;*/
}
p {
  font-family: verdana, arial, helvetica, sans-serif;
  	text-decoration: none;
	font-weight: normal;
}

/* div + blockelemente */
/* buendel */
.ubuntupakete{
	position:absolute; 
	padding-left:0.8em;
	padding-right:0.8em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	left:0px; 
	top:15px;
	width: 420px;
	height: 620px;
	border:2px solid #C6C6C6;
	}
.neues_buendel{
	position:absolute; 
	padding-left:0.8em;
	padding-right:0.8em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	left:448px; 
	top:-2px;
	width: 420px;
	height: 620px;
	border:2px solid #C6C6C6;
	}
.editorh1{
	position:absolute; 
	left:0px; 
	top:0px;
	width: 420px;
	background-color:#F3F2F2;
	font-weight:bold;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:0.8em;
	padding-right:0.8em;
	}
/* download */
a.detail:link, a.detail:visited{
	color:#6E6A69;
	font-weight:normal;
	text-decoration: none;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:0.8em;
	padding-right:0.8em;
	}
a.detail:hover, a.detail:active{
	color:#6E6A69;
	font-weight:normal;
	text-decoration: underline;
	background-color:#ccc;
	}
a.download:link, a.download:visited{
	color:#451B00;
	font-weight:normal;
	text-decoration: none;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:0.8em;
	padding-right:0.8em;
	}
a.download:hover, a.download:active{
	color:#451B00;
	font-weight:normal;
	text-decoration: underline;
	background-color:#FCD060;
	}
.downloadcontent{
	position:absolute; 
	padding-left:0.8em;
	padding-right:0.8em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	left:53px; 
	top:52px;
	width: 725px;
	border-bottom:2px solid #C6C6C6;
	}
.downloadnavi{
	position:absolute; 
	padding-left:0.8em;
	padding-right:0.8em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	left:55px; 
	top:20px;
	width: 725px;
	background-color:#F3F2F2;
	border-top:2px solid #C6C6C6;
	}
/* start */
/*.contentstart{
	position:absolute; 
	left:150px;
	top:80px;
	width:575px;
	}*/
.contentstart{
 position:absolute; 
 left:56px; 
 top:80px;
 width:480px;
 }
.beste_buendel{
 position:absolute; 
 left:606px; 
 top:80px;
 width:290px;
 }
.beste_buendel ul li{
 list-style-image:url(images/star_trans.gif);
 list-style-position:outside;
 /*margin-left:-0.6em;*/  /*Verursachte die Verschiebung der besten Bündelsterne*/
 padding-bottom:1px;
 }
/* allgemein */
.content2{
	position:absolute; 
	left:26px; 
	top:42px;
	width: 725px;
	}
.content1{
	position:absolute; 
	left:5px; 
	top:87px;
	width:700px;
	}
.communtu_box{
 position:absolute; 
 left:750px; 
 top:95px;
 width:11em;
 padding-right:1em;
 padding-bottom:1em;
 border:1px solid#A33700;
 background-color: #FFF8D2;
 }
.communtu_box_zweite{
 position:absolute; 
 left:750px; 
 top:250px;
 width:150px;
 height:159px;
 padding-right:1em;
 padding-bottom:1em;
 background-image:url(/images/hg_news.png);
 background-repeat: no-repeat;
 }
.communtu_box_line{
 width:11.2em;
 padding-left:1em;
 padding-top:0.8em;
 padding-bottom:0.8em;
 background-color: #A33700;
 color:#fff;
 font-weight:bold;
 }
.communtu_box_drin{
 width:11em;
 border-top:1px solid#A33700;
 border-top-style:dotted;
 margin-bottom:0.5em;
 padding-top:0.5em;
 padding-left:1em;
 }
.communtu_box_drin ul li{
  list-style-type: none;
  list-style-image: none;
  list-style-position:none;
  padding-left:0em;
  margin-left:-2em;
  padding-bottom:0.5em;
  padding-top:0em;
}
.unternavi{
	position:absolute; 
	left:0px; 
	top:0px;
	width: 909px;
	height: 68px;
	padding-left:48px;
	padding-top:49px;
	background-image:url(/images/communtu_unternavi.png);
	background-repeat: no-repeat;
	z-index:1;
	}
.unternavi a:link, a:visited, a:active{
	color:#451B00;
	font-weight:normal;
	text-decoration: underline;
	}
.unternavi a:hover{
	color:#451B00;
	font-weight:normal;
	text-decoration: none;
	}
.content{
	position:absolute; 
	left:56px;
	top:138px;
	width: 925px;
	}
.content a{
	color:#A33700;
	font-weight:normal;
	}
.content a.teaser:link, a.teaser:visited{
	color:#451B00;
	font-weight:bold;
	text-decoration: underline;
	}
.content a.teaser:hover, a.teaser:active{
	color:#451B00;
	font-weight:bold;
	text-decoration: none;
	}
.navi{
	position:absolute; 
	top:130px; 
	left:203px;
	width:753px; 
	z-index:2;
}
.navi a{
	color:#fff;
	font-weight:bold;
}
.navi a.person{
	color:#000;
	font-weight:normal;
}
.navi_eins{
	position:absolute; 
	top:16px; 
	left:50px;
	z-index:2;
}
.navi_zwei{
	position:absolute; 
	top:16px; 
	left:260px;
	z-index:2;
}
.navi_drei{
	position:absolute; 
	top:16px; 
	left:448px;
	z-index:2;
}
#person{
	position:absolute; 
	top:10px;  
	right:2px;
	background-color:#D7AE9A; 
	text-align:center;
	padding-top:4px;
	padding-bottom:6px;
	width:160px;
	border:0px solid #ff0;
	z-index:2;
	}
/*#register{
	position:absolute; 
	right:7px; 
	width:225px; 
	height:20px; 
	background-color:#9FE7F7; 
	text-align:center;
	padding-top:5px;
	z-index:4;
	}*/
#register{
 position:absolute; 
 right:7px; 
 width:210px; 
 height:20px; 
 background-color:#9FE7F7; 
text-align:right;
 padding-top:5px;
 padding-right:15px;
 z-index:4;
 }
#lang{
	position:absolute; 
	right:241px;  
	text-align:center;
	padding-top:2px;
	z-index:4;
        visibility:hidden;
	}
#navihead{
	position:absolute;
	top:5px; 
	right:322px; 
	z-index:4;
	}
#head{
	position:absolute; 
	left:46px; 
	width: 925px;
	height: 147px;
	background-image:url(/images/communtu_head.png);
	background-repeat: no-repeat;
	z-index:3;
	}
.bemerkung{
	color:#63605E;
	position:absolute;
	top:180px; 
	left:20px; 
	margin-bottom:35px;
	z-index:3;
	}
.bemerkung ul li{
	color:#63605E;
	list-style-image:none;
	}
body{ font-size:9pt; font-family:Verdana,Arial,Helvetica,sans-serif; color:#451B00;  background-color:#FFFFFF; SCROLLBAR-FACE-COLOR: #F0E4C5; SCROLLBAR-HIGHLIGHT-COLOR:#ffffff; SCROLLBAR-SHADOW-COLOR: #101010; SCROLLBAR:-3;DLIGHT-COLOR: #D0C4A5;SCROLLBAR-ARROW-COLOR: #303435; SCROLLBAR-TRACK-COLOR: #E0D4B5; }


