body { 

	color: #333;
	background-image: url(/images/bgrepeat.jpg);
	background-color: #D3CAAA;
	background-repeat: repeat-x;
	padding: 20px;
	margin: 0; 
}

div.main {
	
	border-style: solid;
	border-width: 2px;
	background-color: white;
	margin: 0 auto;
	padding: 0 30px 20px 10px;
	position: relative;
	width: 1000px;
	min-height: 600px;
}

div.navi {

    margin: 20px 0 0 0;
    padding: 0 0 15px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
	width: 100%;
}

div.sidebar {
	
	margin: 15px 10px 0 0;
	padding: 0px 8px 0px 8px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	-moz-border-radius: 10px;
    /*min-height: 300px;*/
	width: 150px;
}

div.content{
	
	margin: 15px 10px 15px 0;
	padding: 8px 15px 8px 15px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	-moz-border-radius: 10px;
	width: 800px;
	height: 100%;
	min-height: 400px;
	
}

div.inner0 {
	padding: 5px;
	margin: 5px;
	height: 100%;
}

div.inner1 {
	border-style: solid;
	border-width: 1px;	
	border-color: #ac873f;
	padding: 5px 5px 5px 12px;
	margin: 10px 5px 10px 5px;
	background-color: #FFF8D2;
	height: 100%;
}

div.meta_cart{

	margin: 15px 10px 0 0;
	padding: 10px 5px 10px 8px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	-moz-border-radius: 10px;
	/*min-height: 300px;*/
	width: 150px;
}

span.headline{
	font-size: larger;
	font-weight: bold;
}

table.form_table{
	
	padding: 10px 10px 10px 10px;
	
}

img.link_img{
	border: 0px;
}

ul.sidebar {

    list-style-type: none;
	padding: 0px 5px 5px 5px;
}

div.flash{
	
	border-style: dotted;
	border-width: 1px;
	border-color: #E2C890;
	background: #FFF8D2;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

#notice{
	color: green;
}

#warning{
	color: #FD6C00;
}

#error{
	color: red;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
	word-wrap: break-word;
	word-break: break-all;
}

h2, h1 {
  font-family: verdana, arial, helvetica, sans-serif;
 /* font-size:   13px; */
  line-height: 22px;
	word-wrap: break-word;
	word-break: break-all;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #ff6309; text-decoration:none; }
a:visited { color: #ff6309; }
a:hover { color: #ff6309; background-color:#cbcbcb; text-decoration:underline;}
/*#D3CAAA;*/ 

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

table.profileTable {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #ac873f;
}

th.profileTableHeading {
    padding-left: 5px;
    border-color: #ac873f;
	border-right-style: solid;
	border-right-width: 1px;
	background-image: url(/images/table-head.png);
	background-repeat: repeat-x;
}

th.profileTableHeadingRight {
    border-color: #ac873f;
	background-image: url(/images/table-head.png);
	background-repeat: repeat-x;
}

td.profileExpandColFirst {
    border-color: #ac873f;
    border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 15px;
	background: #fff7cd;
}

td.profileExpandCol {
    border-color: #ac873f;
	width: 15px;
	background: #fff7cd;
}

td.profileNameCol0 {
    padding: 10px 10px 10px 10px;
    border-color: #ac873f;
	border-top-style: solid;
	border-top-width: 1px;
}

td.profileNameCol1 {
    padding-left: 20px;
    border-color: #ac873f;
    background: #fff7cd;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	font-size: 82%;
}

td.profileNameCol2 {
    padding-left: 30px;
    border-color: #ac873f;
    background: #fff7cd;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	font-size: 75%;
}

td.profileNameCol3 {
    padding-left: 40px;
    border-color: #ac873f;
    background: #fff7cd;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	font-size: 68%;
}
td.profileRatingRowFirst {
    border-color: #ac873f;
	border-top-style: solid;
	border-top-width: 1px;
	width: 20px;
}

td.profileRatingCol {
    border-color: #ac873f;
	border-top-style: solid;
	border-top-width: 1px;
	width: 20px;
}

td.profileRatingColRight {
    border-color: #ac873f;
    border-top-style: solid;
    border-top-width: 1px;
    width: 20px;	
}

div.suggestion {
    margin: 10px 5px 0 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ac873f;
}

ul.suggestionHeader {
    margin:0px;
    padding:0px;      
}

ul.suggestionPackage {
    margin:0px;
    padding:0px;        
}

div.suggestionHeader {
    padding: 2px 0 2px 5px;
    background: #fff7cd;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ac873f;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ac873f;
}

li.suggestionCollapse {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    background: #fff7cd;
}

li.suggestionHeader {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    background: #fff7cd;
    font-weight: bold;
    font-size:80%;
    padding-left:5px;
}

li.suggestionPackage {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    background: #ffffff;
}

div.suggestionPackage {
    padding:8px 0 0 5px;
    background: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ac873f;
}

div.suggestionDescription {
    padding:0 0 8px 5px;
    background: #ffffff;
    padding-right:40px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
}

div.suggestionPackages {
    background: #fff7cd;
    padding-left:10px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ac873f;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ac873f;
}

th.packageList {
    padding-bottom:5px;
    padding-left:10px;
    border-bottom-style:solid;
    border-bottom-width:1px;
}

td.packageList0 {
    padding:5px 8px 5px 10px;
    background-color: #FFF8D2;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
}

td.packageList1 {
    padding:5px 8px 5px 10px;
    background-color: #FFFFFF;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
}

td.packageList0noborder {
    padding:5px 8px 5px 10px;
    background-color: #FFF8D2;
/*    border-bottom-style:solid;
    border-bottom-width:1px;*/
    border-color: #ac873f;
}

td.packageList1noborder {
    padding:5px 8px 5px 10px;
    background-color: #FFFFFF;
/*    border-bottom-style:solid;
    border-bottom-width:1px;*/
    border-color: #ac873f;
}

td.packageListGrey {
    padding:5px 8px 5px 10px;
    background-color: #DDDDDD;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color: #ac873f;
	color: #EEEEEE;
a { color: #888888; text-decoration:none; }
}

td.packageListGreynoborder {
    padding:5px 8px 5px 10px;
    background-color: #DDDDDD;
/*    border-bottom-style:solid;
    border-bottom-width:1px;*/
    border-color: #ac873f;
	color: #AAAAAA;
a { color: #888888; text-decoration:none; }
}


ul.tabz {
    margin:0px;
    padding:0px;
}

li.tabz {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    margin: 0px 2px 0px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

li.tabz_select {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #ac873f;
}

div.tabz_content {

    border-style: solid;
    border-width: 1px;
    margin-top: 2px;
    margin-bottom: 60px;
    padding: 10px;
    border-color: #ac873f;
    height: 100%;
}

div.cartlist {
    
    position:relative; 
    left:130px; 
    top:-14px; 
    height:0px;
    width:60px;
}

ul.cartlist {

    margin:0 0 10px 0;
    padding:0px;
}

li.cartlist {

    list-style-type: none;
}

 .rating_comment_field {
 	width: 750px;
	height: 100px;
	margin-bottom: 10px;
 }

/* Classes for Message Picture and Rollover 
.message {
	height:			20px;
	width:			27px;
	margin-left:	10px;
}

.msg_pic {
	background-image:		url(/images/message.png)
}

.msg_pic:hover {
	background-image:		url(/images/message_rollover.png)
}
*/

	.check_img {
		height:			15px;
		width:			15px;
		margin-left: 	5px;
	}

    /*             styles for the star rater               
     * Credits: http://www.komodomedia.com/blog/2006/01/css-star-rating-part-deux/# (last visit: June 5th, 2009) 
     * */
	.star-rating-foreign{
        margin: 0px;
        padding:0px;
        width: 125px;
        height: 30px;
        background: url(/images/star3.gif) top left repeat-x;        
    }
	
	.star-ratings-block {
		width: 125px;
		float: right;
	}
	   
    .star-rating{
        list-style:none;
        margin: 0px;
        padding:0px;
        width: 125px;
        height: 25px;
        position: relative;
        background: url(/images/star_trans.gif) top left repeat-x;        
    }
	
    .star-rating li{
        padding:0px;
        margin:0px;
        /*\*/
        float: left;
        /* */
    }
    .star-rating li a{
        display:block;
        width:30px;
        height: 25px;
        text-decoration: none;
        text-indent: -9000px;
        z-index: 20;
        position: absolute;
        padding: 0px;
    }
    .star-rating li a:hover{
        background: url(/images/star_trans.gif) left center;
        z-index: 2;
        left: 0px;
        border:none;
    }
    .star-rating a.one-star{
        left: 0px;
    }
    .star-rating a.one-star:hover{
        width:25px;
    }
    .star-rating a.two-stars{
        left:25px;
    }
    .star-rating a.two-stars:hover{
        width: 50px;
    }
    .star-rating a.three-stars{
        left: 50px;
    }
    .star-rating a.three-stars:hover{
        width: 75px;
    }
    .star-rating a.four-stars{
        left: 75px;
    }    
    .star-rating a.four-stars:hover{
        width: 100px;
    }
    .star-rating a.five-stars{
        left: 100px;
    }
    .star-rating a.five-stars:hover{
        width: 125px;
    }
    .star-rating li.current-rating{
        background: url(/images/star_trans.gif) left bottom;
        position: absolute;
        height: 25px;
        display: block;
        text-indent: -9000px;
        z-index: 1;
    }
	
	.star-rating li.current-rating-rated {
	  position: absolute;
	  background: url(/images/stars-rated.gif) repeat-x left bottom;
	  height: 25px;
	  display: block;
	  text-indent: -9000px;
	  z-index: 1;
	}

