/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.head{
	position: absolute;
}
body{
	margin:0px;
}
.login{
	float:right;
	background-color:yellow;
}
.header{
	background-image:url('communtu_head.png');
	width:925px;
	height:147px;
	
}

.headertitle{
	position: absolute;
	left: 400px;
	top: 55px;
}
h1{
	font-size: 20px;
	font-family: "Arial Rounded MT Bold";
}




#menuline{
	width: 150px;
	min-height: 600px;
	border-right: 2px black solid;
	float: left;
}
#content{
	width: 600px;
	min-height: 600px;
	border-right: 2px black solid;
	float: left;
}
#menu{
	width:925px;
}

.navi_text{
	position: static;
	margin-left: -60px;
	margin-top: -20px;
}

.button{
	float:left;
}
