<div class="unternavi">
        <%= link_to t(:model_user_meta_tabz_0), user_path(current_user) + "/metapackages/0" %> |
        <%= link_to t(:model_user_meta_tabz_3), user_path(current_user) + "/metapackages/1" %> |
        <%= link_to t(:new_bundle), user_path(current_user) + "/cart/create" %>
</div>