<%= render_flash %>

<p>The following things can be done here :</p>
<p><b>Suggest</b> will offer you a suggestion of packages, that
might be interesting for you, according to the user profile you entered</p>

<p><b>Manage Profile</b> Allows you to edit your profile settings</p>

<p><b>Something Else</b> will do something else</p>
