<span class="headline">Alle Benutzer</span>
<div class="inner1">
<table cellpadding="3">
  <tr>
    <th align="left">Benutzername</th>
    <th align="left">E-Mail</th>
    <th align="left">Aktiviert?</th>
    <th align="left">Rollen</th>
  </tr>
  <tr><td colspan="4"><hr></td></tr>
    <%= render :partial => 'user', :collection => @users %>
</table>
</div>