<span class="headline">Benutzer anzeigen</span>

<%= render_flash %>
<div class="inner1">
	<p>Name: <%= @user.login %></p>
	<p>E-Mail: <%= @user.email %></p>
</div>
<%= link_to 'Bearbeiten', edit_user_path(@user.id) %>
