<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<div class="conny_about">
  <%  if @faq.nil? %>
    <a href="/home/faq">
  <%else%>
    <a href="/home/contact_us">
  <%end%>
<img src="/images/conny_questionmark.jpg" border="0" alt="<%=t(:questionmark_conny)%>" title="<%=t(:questionmark_conny)%>" />
    </a>
</div>
