<div class="unternavi">
	<a href="/home/about"><%=t(:about_us)%></a> |
	<a href="/home/news"><%=t(:news)%></a> |
	<a href="/home/contact_us"><%=t(:view_layouts_application_31)%></a> |
	<a href="/home/impressum"><%=t(:imprint)%></a>
</div>
