<h2>Communtu -
 gemeinsam Ubuntu-Linux an individuelle Bed&uuml;rfnisse anpassen</h2>
 
<H3>Wozu Communtu?</H3>
Ubuntu ist eine Linux-Distribution, die Linux einfach handhabbar und verständlich macht.
Nach der Installation von Ubuntu mittels einer CD oder DVD ist dein Computer schon 
gut ausgerüstet für Internet, Textverarbeitung und vieles andere.

<p>Es gibt aber auch viele Anwendungen, die erst noch nachinstalliert werden müssen,
z.B. in den Bereichen Audio, Video und Grafik, damit dein Computer mit Ubuntu wirklich 
benutzbar ist. Communtu macht diese Nachinstallation jetzt noch einfacher
und hat zudem spezielle Bereiche für Einsteiger und Windows-Umsteiger.</p>

<H3>Wie verwende ich Communtu?</H3>

<p>Zum Starten wählst du <b>Profil bearbeiten</b> auf der linken 
<% if logged_in? %>
  Seitenleiste.
<% else %>
  Seitenleiste (diese erscheint erst nach <%= link_to 'Anmeldung', '/session/new' %>).
<% end %>
Dort kannst du deine Einstellung bearbeiten.
Unter den Grunddaten musst du zunächst eintragen, welche Ubuntu-Version du auf deinem PC installiert hast,
außerdem, ob du unfreie Programme nutzen willst oder nicht.
</p>

<p>Unter der Profilbewertung wählst du aus: für welche Aufgaben willst du deinen Ubuntu-PC benutzen? 
Dort wo du nicht sicher bist, kannst du auch einfach die Voreinstellungen so lassen.
Alles kann später noch korrigiert werden.
</p>

<p>Zum Schluss gehst du auf <b>Installationsvorschläge</b> (ebenfalls links an der Seite).
Hier bietet dir Communtu eine Zusammenstellung (Bündelung) von Programmen für die Installation auf deinem Computer an (entsprechend deines aktuellen Benutzerprofils).
Die Zusammenstellung kann nochmal fein abgestimmt werden; sie dürfte aber in den meisten Fällen
schon passend sein.
Ganz unten auf der Seite findest du einen Installationsknopf, mit dem die Nachinstallation gestartet werden
kann. Es dauert etwas, bis die Programme automatisch aus dem Internet geladen und installiert werden. Fertig ist der vielseitig einsetzbare Ubuntu-PC!
</p>

<p>Wichtig: Man braucht schon eine schnelle Internet-Verbindung. Für Ubuntu-Nutzer, die noch ein Modem oder Ähnliches
nutzen, planen wir die Möglichkeit, automatisch CDs und DVDs zu erstellen.</p>


<h3>Wie kann ich meine Erfahrungen mit Programmen ins Communtu-System eintragen?</h3>
Hast du gute Erfahrungen mit Programmen gemacht? Dann kannst du thematisch zusammengehörige
Programme zu einem Bündel zusammenfassen und ins System eintragen. Dazu wählst du <b>Neues Bündel</b>
auf der linken Seitenleiste. Du kannst dann Ubuntu-Pakete hinzufügen und mit Klick auf das Disketten-Symbol
das Bündel im System abspeichern. Das Bündel soll einen Namen, eine Beschreibung und eine
thematische Einordnung erhalten, damit andere Nutzer es auch verwenden können.
Wie bei Ordnern und Dateien können Bündel nicht nur Ubuntu-Pakete, sondern auch andere
Bündel enthalten. <b>Bündel verwalten</b> auf der linken Seitenleiste gibt dir einen Überblick
über die verfügbaren Bündel.
Schließlich gibt <b>Distributionen</b> eine Übersicht über die im System verfügbaren Ubuntu-Versionen.

<h3>Nachinstallation einzelner Funktionen</h3>
<P>Du
hast schon eine lauff&auml;hige Ubuntu-Installation und m&ouml;chtest
bestimmte Funktionen hinzuf&uuml;gen? Auch dafür kannst du Communtu benutzen.
Du gehst einfach wie oben unter "Wie verwende ich Communtu?" beschrieben vor,
und suchst dir eben nur einzelne Programme aus.
</P>

<h3>Registrierung</h3>
<P>Um Communtu nutzen zu können, musst du dich registrieren.
Das geht ganz einfach über den "Anmelden"-Knopf in der oberen Leiste.
</p>