<h1><%=_('Authentifizierungs-Fehler')%></h1>
<%=_('Die Daten, die du an Communtu geschickt hast, konnten nicht korrekt authentifiziert werden.
Bitte versuche, dich noch einmal anzumelden bzw. das entsprechende Formular noch einmal auszufüllen.')%>
