<h2>Beteiligungsmöglichkeiten</h2>

<h3>Anwenden der Plattform</h3>
<p>Als erstes würden wir uns natürlich freuen, wenn Du Communtu nutzt, um eine Installation durchzuführen. 
In unseren Bündeln gibt es schon ein paar ganz gut auf bestimmte Eigenschaften zugeschnittende Installationsvorschläge.
Vielleicht ist ja etwas für Dich dabei. Weiter gibt es dort auch die Möglichkeit die eigene Paketliste hochzuladen, damit diese auch anderen zur Verfügung gestellt wird.
Dies ist die einfachste Form ein Bündel anzulegen. Du musst diese Paketliste aber auch nicht veröffentlichen. Du kannst Communtu auch einfach nur als Speicherort für Deine Paketliste gebrauchen und dann auf anderen Rechnern dieses Bündel installieren.</p>
 
<h3>Wir brauchen die Informationen</h3>
<p>Du denkst, dass Du schon vieles zu Open Source Programmen weisst? 
Dann schreibe Deine Erfahrungen in den Kommentaren zu den Paketen oder hast Du vielleicht ein tolles
Video zu dem Programm bei Youtube gesehen? Dann trag es doch gleich bei
den Videos zu den Programmen in Communtu ein.<!-- Weiter bieten
wir auch eine Möglichkeit an, sich an einer <%= link_to 'Umfrage zu beteiligen', '/home/umfrage' %>, die wir dann Clustern wollen, 
um für jede/n weitere Programme vorschlagen zu können. --> </p>

<h3>Feedback</h3>
<p>Wir benötigen Feedback. Wir möchten, dass Communtu von allen genutzt werden kann. Dazu benötigen wir Feedback. Hast Du einen Fehler auf der Plattform gefunden?
Findest Du etwas nicht verständlich? Glaubst Du, dass wir was besser machen können? Hast Du eine Anregung für uns?
Feedback ist uns Willkommen unter <a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a>.</p>

<h3>Mitarbeit</h3>
<p>Momentan benöigen wir noch Unterstützung bei der Entwicklung des Projektes bei folgenden zwei Tätigkeiten:</p>
<h4>Grafik</h4>
<p>Wir benötigen eine Person, die für das Projekt das Layout übernimmt. Dies bedeutet Grafiken einbinden und die Hauptverantwortung für das CSS übernehmen</p>
<h4>Programmierung</h4>
<p>Da wir viele Ideen für die Weiterentwicklung der Plattform haben, benötigen wir noch eine/n ProgrammiererIn. Idealerweise hast Du schon Erfahrungen in Ruby on Rails sammeln können.</p>
<p>Wir können Dir auch helfen diese Programmiersprache zu lernen. Also melde Dich einfach bei <a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">uns</a>.</p>