<h2>Communtu -
 leider hat da etwas beim Spenden nicht funktioniert.</h2>
<p>Endweder versuchst Du es noch einmal oder Du nutzt die M&ouml;glichkeit per &Uuml;berweisung</p> 
<p>Allgemeinbildung e.V.<br />
Konto 172 9375, Sparkasse Bremen, BLZ 290 501 01<br /> 
Verwendungszweck: Communtu<br />
Spendenbescheinigung kann ausgestellt werden.
</p>