<h3>Ubuntu-Derivate</h3>

Communtu setzt auf einer Ubuntu-Basisinstallation auf.
Es gibt nun eine ganze Reihe von <%= link_to 'Ubuntu-Derivaten', 'http://wiki.ubuntuusers.de/Was_ist_Linux?#Was-sind-Derivate-einer-Distribution' %>, und viele Ubuntu-Nutzer fragen sich, 
ob sie statt Ubuntu lieber ein Derivat benutzen sollten.
Die Antwort ist: meistens fährt man mit dem Standard-Ubuntu ganz gut, denn
Communtu erlaubt, die Derivate auf einfache Weise nachzuinstallieren. 
Allerdings ist das nicht bei allen Derivaten gleich sinnvoll.

<b>Alle Derivate können unter <%= link_to 'Installationsvorschläge', user_path(current_user) + "/suggestion" %> 
unter der Kategorie "Derivate" zur Installation ausgewählt werden.</b> 
Ebenso kannst du dort nachgucken, aus welchen Paketen ein Derivat besteht.

<h4>Über Communtu sinnvoll nachinstallierbare Derivate</h4>
<ul>
<li>
<%= link_to 'Ubuntu Studio', 'http://wiki.ubuntuusers.de/Ubuntu_Studio'%> - Ubuntu Multimedie-Edition.
Sie wird bei Communtu mitinstalliert, wenn du bei Audio, Film und/oder Grafik/Design "erweitert" anwählst.
</li>
<li>
<%= link_to 'Medibuntu', 'http://medibuntu.org' %> stellt Multimedia-Paketquellen bereit, die aus rechtlichen Gründen nicht von Ubuntu selbst angeboten wird. Medibuntu wird bei Communtu mit berücksichtigt (z.B. bei Audio und Film).
</li>
<li>
<%= link_to 'Mythbuntu', 'http://www.mythbuntu.org/' %> - der PC wird zum Videorekorder. Bei Film "Freak" auswählen, und es wird mitinstalliert. Empfohlen: CPU mit 2 GHz, 1024 MByte RAM, 10 GByte Festplattenplatz für das Frontend, 80+ GByte für das Backend, eine Grafikkarte mit 128 MByte RAM mit TV-Ausgang und eine unterstützte TV-Karte.
</li>
<li>
<%= link_to 'Edubuntu', 'http://www.edubuntu.org/' %> - Lernsoftware. Bei "Bildung und Wissenschaft" den Level "erweitert" auswählen, und es wird mitinstalliert.
</li>
<li>
<%= link_to 'Kubuntu', 'http://wiki.ubuntuusers.de/KDE' %> Kubuntu ist Ubuntu mit dem KDE-Desktop.	
<li>
<%= link_to 'Linux Mint', 'http://de.wikipedia.org/wiki/Linux_Mint' %> ist eine Ubuntu-Abspaltung mit eigener User-Community, die sich vor allem Benutzerfreundlichkeit auf die Fahnen schreibt.
Linux Mint ähnelt Ubuntu sehr, hat aber viele Codes, z.B. für DVDs und MP3s, schon vorinstalliert. Diese Codecs gibt es allerdings auch bei Communtu, unter Unterhaltungsmedien.</li>
<li>
	<%= link_to 'Automatix', 'http://wiki.ubuntuusers.de/Baustelle/Verlassen/Automatix2' %> war eine Installationshilfe, die sich großer Beliebtheit erfreute (sie wurde sogar von der New York Times empfohlen), die aber nicht ganz den Ubuntu-Programmierstandards entsprach und inzwischen nicht mehr weiterentwickelt wird. </li>
</ul>

<h4>Über Communtu nachinstallierbare Derivate, sinnvollerweise auf einer Xfce-basierten Installation (z.B. Xubuntu) aufzusetzen</h4>
<ul>
<li> <%= link_to 'ZevenOS', 'http://www.zevenos.com/'%> - orient an BeOS, setzt auf Schnelligkeit, Kompatibilität mit alten Rechnern und einfache Bedienung. CPU mit mindestens 200 MHZ
128 MB RAM (zum Betrieb, zur Installation werden 192 MB RAM benötigt);
2 GB freier Festplattenplatz (Empfohlen: 4 GB oder mehr);
16 MB Grafikkarte (Empfohlen: Intel GMA 9xx).</li>
</ul>

<h4>Derivate, die mit der Derivats-eigenen Installations-CD installiert werden sollten</h4>
<ul>
<li>
<%= link_to 'Xubuntu', 'http://wiki.ubuntuusers.de/Xfce' %> - mit dem schlanken Xfce als grafischer Oberfläche - besonders für ältere Rechner geeignet: 128 MByte Arbeitsspeicher und 1,5 GB auf der Festplatte reichen aus. Sollte von CD installiert werden, um wirklich eine schlanke Installation zu haben. Nachinstallationen mit Communtu möglich.
</li>
<li>
<%= link_to 'Linux MCE', 'http://de.wikipedia.org/wiki/LinuxMCE' %> - damit wird Ubuntu zum <%=link_to 'Fernsehcomputer', 'http://de.wikipedia.org/wiki/Home_Theater_Personal_Computer' %>. Aufgrund der notwendigen Treiberinstallation sollte Linux MCE direkt installiert werden, Communtu kann dann aber für die Installation weiterer Software genutzt werden.
</li>
<li>
<%= link_to 'Gobuntu', 'http://www.ubuntu.com/products/whatisubuntu/gobuntu' %> ist ein Ubuntu-Derivat komplett aus freier Software. Nur für erfahrene Nutzer geeignet. Sollte mit der Gobuntu-CD installiert werden, damit es auch wirklich nur freie Software ist. Nachinstallationen mit Communtu möglich, sinnvollerweise sollten dann im Nutzerprofil "freie Software" angewählt werden.
</li>
<li> <%= link_to 'Nexenta OS', 'http://de.wikipedia.org/wiki/GNU-Varianten#Nexenta_OS'%> - ersetzt den Linux-Kern durch OpenSolaris. Stellt nur eine minimale Basis an Anwendungen bereit. Die Installation weiterer Pakete bleibt dem Benutzer überlassen; hierfür kann Communtu genutzt werden.</li>
</ul>

<h4>Derivate, die wir uns noch genauer angucken müssen</h4>
<ul>
<li> <%= link_to 'Impi Linux', 'http://www.impi.org.za/' %> - eine afrikanische Ubuntu-Variante, die allerdings offenbar nicht übers Internet erhältlich ist.</li>
<li> <%= link_to 'linex', 'http://de.wikipedia.org/wiki/LinEx'%> - öffentliche Distribution der spanischen Region Extremadura.</li>
<li> <%= link_to 'Ubuntulite', 'http://ubuntulite.tuxfamily.org/'%> für ältere PCs.</li>
<li> <%= link_to 'Ubuntu mobile', 'http://www.ubuntu.com/products/mobile'%> - für mobile Internetgeräte.</li>
<li> <%= link_to 'Ubuntu ultimate', 'http://ultimateedition.info/'%> - Ubuntu mit vielen Desktop-Desgins und Programmen.</li>
<li> <%= link_to 'gOS', 'http://www.thinkgos.com/'%> - spezialisiert auf Webdienste.</li>
<li> <%= link_to 'OpenGEU', 'http://opengeu.intilinux.com'%> - basiert auf E17. 2D-Effekte auch ohne schnelle Grafikkarte.</li>
<li> <%= link_to 'Fluxbuntu', 'http://wiki.fluxbuntu.org'%> - minimalistische schnelle Ubuntu-Version für ältere PCs.</li>
<li> <%= link_to 'Ubuntu Server', 'http://wiki.ubuntuusers.de/Server_Installation'%> - Server-Version von Ubuntu, ohne grafische Oberfläche.</li>
<li> <%= link_to 'Ubuntu JeOS', 'http://wiki.ubuntuusers.de/JeOS'%> - minimale Server-Version, vor allem für Virtualisierung geeignet..</li>
<li> <%= link_to 'Elbuntu', 'http://e17blog.tuxfamily.org/'%> - Ubuntu mit Enlightenment als Desktopumgebung.</li>
<li> <%= link_to 'nUbuntu', 'http://www.nubuntu.org/'%> - mit Fluxbox und verschiedenen Netzwerk-Sicherheitswerkzeugen .</li>
<li> <%= link_to 'getDeb', 'http://www.getdeb.net'%> - Installation von Programmen und Versionen, die nicht über die offiziellen Repositories erhältlich sind.</li>

</ul>