<h2>Impressum</h2>
<p>Natur, Geist und Technik - Verein zur Förderung der Allgemeinbildug e.V.<br />
AG Communtu<br />
Bauernstr. 2<br />
28203 Bremen<br />
<a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a><br />	
</p>
<p>Mitwirkende an der AG Communtu (Alphabetische Reihenfolge):
<ul>
<li>Torsten Franz</li>
<li>Daniel H&uuml;ttenmeister</li>
<li>Jan Kr&uuml;ger</li>
<li>Melanie Luderer</li>
<li>Till Mossakowski</li>
<li>Bernd Wagner</li>
</ul> 