<h2>Aktuelles</h2>
<h3>Unsere Mailinglisten</h3>
<p>Um die Kommunikation mit unseren Nutzern zu verbessern, haben wir Mailinglisten eingerichtet:</p>
<p><a href="mailto:communtu-announce-de+subscribe@googlegroups.com">communtu-announce-de+subscribe@googlegroups.com</a>
<br />Diese Liste ist für allgemeine Ankündigungen aus den Communtu Team für die Nutzer gedacht.
 Es wir hier ungefähr einmal die Woche eine E-Mail über den Verteiler geschickt. 
 Die Nachrichten werden in einem <a href="http://groups.google.com/group/communtu-announce-de/topics?start=" target="_blank">Archiv</a> gesammelt.</p>
<p><a href="mailto:communtu-discuss-de+subscribe@googlegroups.com">communtu-discuss-de+subscribe@googlegroups.com</a>
<br />Diese Liste ist für eine Diskussion rund um die Plattform gedacht.
 Hier kommt etwas mehr als einmal die Woche eine E-Mail über den Verteiler. 
 Die Nachrichten werden in einem <a href="http://groups.google.com/group/communtu-discuss-de/topics?start=" target="_blank">Archiv</a> gesammelt.</p>
<table><tr><td valign="top"><h3>Unser Blog</h3>
<p>Wir haben einen Blog, wo wir aktuelle Informationen zu Communtu eintragen.
Hier wird ungefähr einmal die Woche etwas gepostet. Hier werden Ankündigungen und neue Features präsentiert.</p>
<p><a href="http://communtu.blogspot.com" target="_blank">Zum Blog</a></p>
</td><td>
  <%= link_to image_tag("blog.gif", :title => 'Der Blog von Communtu', :alt => 'Der Blog von Communtu', :border => '0'), 'http://communtu.blogspot.com', :target => '_blank' %>
</td></tr></table>
<h3>Beteiligungsmöglichkeiten</h3>
<p>Du kannst Dich auch <%= link_to 'beteiligen', '/home/beteiligung' %>.</p>