<%= render_flash %>
<% if @u.nil? then %>
<h3>Leider konnten die Daten nicht gespeichert werden. Bitte nochmals versuchen.</h3>
<% else %>
<h3>Danke für die Teilnahme an der Umfrage</h3>

<%= @u.umfrage_packages.length.to_s %> Pakete <br />
<%= @u.umfrage_sources.length.to_s %> Zeilen Quellen <br /><br />

<% if !@u.email.nil? %>
Email: <%= @u.email %><br /><br />
<% end %>

Einsteiger/in: <% if @u.einsteiger then %> ja <% else %> nein <% end %><br/>
Freak/Informatiker/in: <% if @u.freak then %> ja <% else %> nein <% end %><br/>
Sammler aller möglichen Programminstallationen: <% if @u.sammler then %> ja <% else %> nein <% end %><br/>
Musik-Fan: <% if @u.musik then %> ja <% else %> nein <% end %><br/>
Video-Fan: <% if @u.video then %> ja <% else %> nein <% end %><br/>
Netz-Junkie: <% if @u.netz then %> ja <% else %> nein <% end %><br/>
Grafiker/in: <% if @u.grafik then %> ja <% else %> nein <% end %><br/>
Gamer/in: <% if @u.spiele then %> ja <% else %> nein <% end %><br/>

<% end %>