<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<%cds=current_user.livecds.sort {|a, b| b.created_at <=> a.created_at} %>

<% if !cds.empty? %>
  <p><%=t(:livecd_previous_cds)%><br />
  <table "cellpadding=5">
  <% total = 0 %>
  <% for cd in cds %>
      <%= render :partial => 'user_profiles/livecd', :object => cd %>
      <% if cd.generated and !cd.size.nil? %>
        <% total += cd.size %>
      <% end %>
  <% end %>
    <tr><td></td>
        <td align="right"><%=t(:total_isos_size)%></td>
        <td><%= number_to_human_size(total) %></td></tr>
  </table>
<% end %>