<h3>Bewertungen editieren</h3>

<%= error_messages_for :user_profile %>

<% if current_user.first_login == 1 %>

<p>Dies ist das erste mal, dass du dich angemeldet hast. Am besten editierst du auf dieser 
einmal dein Benutzerprofil. Diese Informationen werden dann dazu verwendet, um dir Softwareb체ndel zu
empfehlen, die f체r dich interessant sein koennten.</p>

<% else %>

<p>Hier kannst du dein Benutzerprofil editieren. Bewerte eine Option,
um anzugeben, wie wichtigen dir der Bereich ist. Diese Informationen werden
benutzt, damit das System dir sinnvolle weitere Pakete empfehlen kann.</p>

<% end %>

<p>Auf dieser Seite kannst du angeben, was f체r ein Typ von Benutzer du bist. Dazu bewertest du einfach
die verschiedenen T채tigkeistfelder.</p>

<% form_tag(user_user_profile_path(current_user) + "/update_rating", options = {:name => "ratings", :method => :put}) do %>
    <div>
        <%= edit_profile_table(root, ratings) %>
    </div>
    <div style="margin-top:20px;">
        <%= link_to "Speichern", "javascript:document.ratings.submit();" %>
    </div>
<% end %>

