<h3>Bewertungen editieren</h3>

<%= error_messages_for :user_profile %>


<p>Hier kannst du deine beabsichtige Computer-Nutzung noch genauer angeben. Bewerte eine Option,
um anzugeben, wie wichtigen dir der Bereich ist. Diese Informationen werden
benutzt, damit das System dir sinnvolle weitere Pakete empfehlen kann.</p>

<p>Auf dieser Seite kannst du angeben, was für ein Typ von Benutzer du bist. Dazu bewertest du einfach
die verschiedenen Tätigkeistfelder. Dein Interesse an einem Gebiet kann von "gar nicht" bis "Freak" reichen.
Entsprechend wird aus diesem Bereich gar nichts oder sehr viel nachinstalliert.
</p>
<p>Achtung! Zum Schluss auf "Speichern" klicken.</p>
<% form_tag(user_user_profile_path(current_user) + "/update_rating", options = {:name => "ratings", :method => :put}) do %>
    <div>
        <%= edit_profile_table(root, ratings) %>
    </div>
    <div style="margin-top:20px;">
        <%= link_to "Speichern", "javascript:document.ratings.submit();" %>
    </div>
<% end %>

