<h1><%=_('Feststellen der Ubuntu-Version')%></h1>
<ol>
	<li><%=_('Öffne ein Terminal unter "Anwendungen" -> "Zubehör" -> "Terminal"')%></li>
	<li><%=_('Gebe dort ein: ')%><tt>lsb_release -cr</tt></li>
</ol><%=_('
Wenn deine Version von Communtu nicht unterstützt wird, gibt es zwei Möglichkeiten:
')%><ol>
	<li><%=_('du machst ein Upgrade auf eine neuere Version')%></li>
	<li><%=_('du erweiterst Communtu um deine Version')%></li>
</ol>