<h1>Feststellen der Ubuntu-Version</h1>
<ol>
	<li>Öffne ein Terminal unter "Anwendungen" -> "Zubehör" -> "Terminal"</li>
	<li>Gebe dort ein: <tt>lsb_release -cr</tt></li>
</ol>
Wenn deine Version von Communtu nicht unterstützt wird, gibt es zwei Möglichkeiten:
<ol>
	<li>du machst ein Upgrade auf eine neuere Version</li>
	<li>du erweiterst Communtu um deine Version</li>
</ol>