<h2>Communtu-Nachinstallation</h2>
Aufgrund deiner Auswahl werden jetzt Programme auf deinem Computer installiert.
Folgende Schritte sind dafür zu tun:
<ol>
	<li>Klicke auf das Symbol rechts unten</li>
	<li>Speichere die Datei auf deinem Computer ab, am einfachsten auf dem Desktop</li>
	<li>Auf dem Desktop (oder im Dateibrowser): Rechtsklick mit der Maus, Eigenschaften, und dann ein Häkchen bei "Ausführen" setzen.</li>
    <li>Doppelklick auf die Datei (zum Ausführen)</li>
	<li>Es werden zur Information nochmal die hinzugefügten Quellen und Pakete angezeigt. Zweimal auf "OK" drücken.</li>
</ol>
Die Datei ist ein Skript, das automatisch die gewünschten
Programme installiert, inklusive Download aus dem Internet.

    <div style="padding-top:12px;padding-right:8px" align="right">
	<%= link_to "<img src=images/installieren.png title='Installieren' alt='Installieren'>", user_path(current_user) + "/suggestion/install_new"%>
    </div>
</div>
