<h2>Rollen für <%=h @user.login.capitalize %></h2>
 
<h3>Zugewiesene Rollen:</h3>
<ul><%= render :partial => 'role', :collection => @user.roles %></ul>
 
<h3>Verfügbare Rollen:</h3>
<ul><%= render :partial => 'role', :collection => (@all_roles - @user.roles) %></ul>
