<h1>Neue Rolle</h1>

<%= error_messages_for :role %>

<% form_for(@role) do |f| %>
  <p>
    <b>Rollenname</b><br />
    <%= f.text_field :rolename %>
  </p>

  <p>
    <%= f.submit "Anlegen" %>
  </p>
<% end %>

<%= link_to 'Zurück', roles_path %>
