<% m = conflict[0] %>
<% conflicts = conflict[1]%>
<%= link_to m.name, metapackage_path(m)%>
<ul>
  <% conflicts.each do |p,cons|%>
    <li>
      <%= link_to p.name, package_path(p)%><%=t(:view_metapackages_immediate_conflicts_1)%>
      <% for conp in cons %>
	    <%= link_to conp.name, package_path(conp)%>&nbsp;
	  <% end %>
    </li>
  <% end %>
</ul>
