<% if logged_in? %>
<span class="headline">Bündel</span>

<div class="inner1">
    <%= render :partial => "metalist", :locals => { :packages => @metapackages } %>
</div>

<%= link_to 'Zurück', distribution_path(id)%>
<% else %>
<p>Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.</p>
<% end %>
