<% if logged_in? %>
<span class="headline"><%=t(:bundle)%></span>

<div class="inner1">
    <%= render :partial => "metalist", :locals => { :packages => @metapackages } %>
</div>

<%= link_to t(:back), distribution_path(id)%>
<% else %>
<p><%=t(:not_logged_in)%></p>
<% end %>
