<% if logged_in? %>
<span class="headline"><%=_('Bündel')%></span>

<div class="inner1">
    <%= render :partial => "metalist", :locals => { :packages => @metapackages } %>
</div>

<%= link_to _('Zurück'), distribution_path(id)%>
<% else %>
<p><%=_('Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.')%></p>
<% end %>
