<h2><%=t(:view_home_success_0)%></h2>
<p><%=t(:view_home_success_1)%><a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a><br />
</p> 
 
