// Place all the styles related to the create controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#furtherbutton {
	width:150px;
	height:109px;
	margin-top: 400px;
	background: url("create/weiter.png") no-repeat;
	cursor:pointer;
}
#furtherbutton:active {
	background-image: url("create/weiterpressed.png");
}

#profibutton {
	height: 113px;
	width: 145px;
	background: url("create/profibutton.png") no-repeat;
	cursor: pointer;
}
#profibutton:active {
	background-image: url("create/profibuttonpressed.png");
}
.cd {
	width: 460px;
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
}
.cdcheck {
	
}

#navi_status {
    border-bottom: 3px blue solid;
    width:700px;
}
#navi_status a {
    margin-left: 55px;
    margin-right: 35px;
    width:70px;
}
#navi_status img {
    margin-top: 7px;
    position: absolute;
}