<div id="column_left">
  <h1>Improve your Ubuntu experience!</h1>
  <p>Ubuntu­Linux bietet über 20.000 Pakete an, wovon in einer typischen Installation nur wenig mehr als 5% tatsächlich installiert werden. Viele Programme bleiben ungenutzt, weil sie unbekannt sind, obwohl sie vielleicht ein vorhandenes Bedürfnis abdecken würden. Hier kann eine Ubuntuzon helfen!</p>
</div>

<div id="column_right"></div>

